<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <meta name="theme-color" content="#2ecc71">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="64x64" href="/images/favicon.ico" type="image/x-icon" >
    <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/font-awesome/css/font-awesome.min.css">
  </head>
  
  <!--NAVIGATION-->
  <body id="page-top">
    <header class="navbar navbar-fixed-top navbar-default navbar-custom" role="navigation" role="banner">
        <nav id="navigation" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-control="navbar">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <div>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-main navbar-right">
                <ul class="nav navbar-nav header-navigation">
                    <li><a class="header-nav-link hvr-wobble-top" href="{{ site.baseurl }}/">{ Home }</a></li>
				    <li><a class="header-nav-link hvr-wobble-top" href="{{ site.baseurl }}/portfolio">{ Portfolio }</a></li>
				    <li><a class="header-nav-link hvr-wobble-top" href="{{ site.baseurl }}/about">{ About }</a></li>
				    <li><a class="header-nav-link hvr-wobble-top" href="{{ site.baseurl }}/contact">{ Contact }</a></li>
				    <li><a class="header-nav-link hvr-wobble-top btn-hire" href="{{ site.baseurl }}/hire" style="font-weight:600;">Hire Me</a></li>
			     </ul>
            </div>
        </nav>
    </header>
    
    {{ content }}

    <!--Footer Section-->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>DEVELOPER TOOLBELT</h3>
                        <ul>
                            <li id="footer-text">HTML<i class="fa fa-html5"></i> & CSS<i class="fa fa-css3"></i></li>
                            <li id="footer-text">Bootstrap 3 &amp; 4 <i class="fa fa-mobile-phone"></i></li>
                            <li id="footer-text">Javascript, jQuery, and AngularJS</li>
                            <li id="footer-text">Git</li>
                            <li id="footer-text">Jekyll</li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>SOCIAL MEDIA</h3>
                        <ul class="list-inline">
                            <li>
                                <button href="http://twitter.com/semajtdeveloper" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></button>
                            </li>
                            <li>
                                <button href="http://github.com/semajthomasprimm" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>ABOUT SITE</h3>
                        <p>I created this site with Jekyll, Bower and Bootstrap. <a href="{{ site.baseurl }}/about/#how-i-built-this-site">Read more</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2017 | Built By Semaj Thomas with <span id="heart">&hearts;</span> and <i class="fa fa-coffee" style="color: #5fd885;"></i>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Scroll to Top Button-->
    <div class="scroll-top page-scroll hidden-lg hidden-md">
        <a class="btn btn-scroll-top" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    
    {% include analytics.html %}
    
    <!--jQuery-->
    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    
    <!--Bootstrap-->
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/contact"></script>    
  </body>
</html>
